<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="baidu-site-verification" content="j4wAeWlI8Z" />
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    .adsbygoogle{
      display: block!important;
      margin: 0 auto!important;
    }
  </style>
  <script type='text/javascript'>
    var _vds = _vds || [];
    window._vds = _vds;
    (function(){
      _vds.push(['setAccountId', 'b3f808edefe1ae7b']);
      (function() {
        var vds = document.createElement('script');
        vds.type='text/javascript';
        vds.async = true;
        vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(vds, s);
      })();
    })();
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9196302068823703",
      enable_page_level_ads: true
    });
  </script>
  <script>
    try {
      window.__INITIAL__ = JSON.parse("{{initialState}}");
    } catch (e) {
      window.__INITIAL__ = {};
    }
  </script>
</head>
<body>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div id="root">{{ html | safe }}</div>
</body>
</html>
